*{
    margin: 0%;
    padding: 0%;
}
.canvas{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 40px;
}
.button{
    height: 150px;
    width: 150px;
    border: 2px solid black;

}
#grey{
    background-color: grey;
}
#white{
    background-color: white;
}
#blue{
    background-color: blue;
}
#yellow{
    background-color: yellow;
}
